.wp-block-jabtest-inner-blocks-block {
    .editor-inner-blocks {
        width: 100%;
        padding: (20rem/16) (34rem/16) !important;
    }

    .editor-block-list__layout {
        padding: 0 1rem !important;
        .wp-block {
            width: 100% !important;
            margin: 0 !important;
        }
    }
}
